<html>
<head>  
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
</style>
</head>


<body bgcolor="#59a659">

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="graph">Graph1</a></li>
  <li><a class="active" href="graph2">Graph2</a></li>
  <li><a href="#about">About</a></li>
</ul>  
 
<div style="padding:20px;margin-top:30px;height:1500px;"align="middle">
<h1>Graph</h1>
<img src="/static/graph2.png?xxx=987878787" border="5" align="middle">
</div>


</body>
</html>
